@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
.Contact {
    background-color: #5A44EB;
}

body {
    font-family: 'Istok Web', sans-serif;
}

.icon-contact-sosmed a {
    padding: 0.5rem;
    color: white;
}